*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul
{
    list-style-type: none;
}
body 
{

    background: white;
}


.section-1
{
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;

}

.section-2
{
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: none;
}
.input
{
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.btn
{
    align-items: center;
    justify-content: center;

}

.pad-1 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-2 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-3 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-4 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-5 ul
{
    font-family: sans-serif;
    font-size: 20px;
}

.pad-6 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-7 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-8 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.show 
{
    display: block;
}

.text-box input
{
    height: 25px;
    width: 500px;
    border-radius: 3px;
    border: 1px solid gray;

}



.pad-1 
{
    background-color: "white";
    height: 250px;
    width: 300px;
    border: 2px dotted rgb(230,230,230);
    border-radius: 3px;
}

.pad-2 
{
    background-color: "white";
    height: 250px;
    width: 300px;
    border: 2px dotted rgb(230,230,230);
    border-radius: 3px;
}

.pad-3
{
    background-color: "white";
    height: 250px;
    width: 300px;
    border: 2px dotted rgb(230,230,230);
    border-radius: 3px;
}

.pad-4 
{
    background-color: "white";
    height: 250px;
    width: 300px;
    border: 2px dotted rgb(230,230,230);
    border-radius: 3px;
}
.pad-5 
{
    background-color: "white";
    height: 250px;
    width: 300px;
    border: 2px dotted rgb(230,230,230);
    border-radius: 3px;
}

.pad-6 
{
    background-color: "white";
    height: 250px;
    width: 300px;
    border: 2px dotted rgb(230,230,230);
    border-radius: 3px;
}

.pad-7
{
    background-color: "white";
    height: 250px;
    width: 300px;
    border: 2px dotted rgb(230,230,230);
    border-radius: 3px;
}

.pad-8 
{
    background-color: "white";
    height: 250px;
    width: 300px;
    border: 2px dotted rgb(230,230,230);
    border-radius: 3px;
}





.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.btn
{
    top: 30px;
    position: fixed;
    left: 580px;
    justify-content: center;
    align-self: center;
    padding: none;
    height: 24px;
    width: 50px;
    border: none;

}
  /* Modal Content */
.modal-content {
    font-family: sans-serif;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #ffffff;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer
   {
    padding: 2px 16px;
    background-color: #ffffff;
    color: white;
  }