*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul
{
    list-style-type: none;
}
body 
{

    background: white;
}

.section-1
{
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;

}

.section-2
{
  height: 45vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.input
{
    height: 0vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Header
{
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 40px;
}
.help-menu
{
    position: relative;
    display: inline-block;
}
.help-box
 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 600px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.pad-1 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-2 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-3 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-4 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-5 ul
{
    font-family: sans-serif;
    font-size: 20px;
}

.pad-6 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-7 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.pad-8 ul
{
    font-family: sans-serif;
    font-size: 20px;
}
.show 
{
    display: block;
}
.help-box div
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
}
.text-box input
{
    height: 25px;
    width: 500px;
    border-radius: 3px;
    border: 1px solid gray;

}
.help
{
    height: 30px;
    width: 30px;
    background:none;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 4px;
    
}



.pad-1 
{
    background-color: rgb(255, 253, 162);
    height: 250px;
    width: 300px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pad-2 
{
    background-color: rgb(193, 194, 250);
    height: 250px;
    width: 300px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pad-3
{
    background-color: none;
    height: 250px;
    width: 300px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pad-4 
{
    background-color: none;
    height: 250px;
    width: 300px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pad-5 
{
    background-color: none;
    height: 250px;
    width: 300px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pad-6 
{
    background-color: none;
    height: 250px;
    width: 300px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pad-7
{
    background-color: none;
    height: 250px;
    width: 300px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pad-8 
{
    background-color: none;
    height: 250px;
    width: 300px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


